<!doctype html>
<html lang="en" style="height:100%">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body style="height:100%">

        <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="height: 100%">
            <div>
                <h1>RULES</h1>
            </div>
            <div class="jumbotron">
                <ul>
                    <li>4-7 Players</li>
                    <li>Once a question has been asked players will have 60 seconds to respond with a numerical answer</li> 
                    <li>The players will then have 60 seconds to place two bets on the answer or answers they believe closest to the correct answer without going over</li>        
                    <li>Points are awarded in the following fashion</li>        
                    <ul>
                        <li>One bet will be worth 2 points</li>
                        <li>The other bet will be worth 1 point</li>
                        <li>Correct bets placed on Smaller than the Smallest will give 1 bonus point</li>
                        <li>Providing an answer that is exactly correct will give 2 bonus points.</li>
                        <li>Once per round you can double down and double the points from one of your two bets if successful</li>
                    </ul>
                </ul>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>